.navbar-default {
    background-color: rgba(12, 12, 12, 0.16);
    border-color: rgba(27, 27, 27, 0.38);
}
.navbar-default .navbar-brand {
  color: #f7fcfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9f9f9;
}
.navbar-default .navbar-text {
  color: #f7fcfd;
}
.navbar-default .navbar-nav > li > a {
  color: #f7fcfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9f9f9;
  background-color: #328383;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9f9f9;
  background-color: #328383;
}
.navbar-default .navbar-toggle {
  border-color: #328383;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #328383;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7fcfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f7fcfd;
}
.navbar-default .navbar-link {
  color: #f7fcfd;
}
.navbar-default .navbar-link:hover {
  color: #f9f9f9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f7fcfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9f9f9;
    background-color: #328383;
  }
}
